body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}
th {
  font-weight: normal;
}


.background-media,.background-overlay{position:fixed;width:100%;height:100%;left:0;top:0;bottom:0;}
.background-media{background-position:absolute;background-repeat:no-repeat;z-index:1;overflow:hidden}[class*=oxy-agent-]
.background-media{background-attachment:fixed}
.background-overlay{z-index:2;}

#bg2 {
  content : "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  opacity : 0.95;
  background-size:  cover;
  background-attachment: fixed;
  background-repeat:   no-repeat;
  background-position: center;
}



#testdiv{

  position:absolute;
}
#bg3 {
  content : "";
  display: block;
  position: absolute;
  width: 100%;

  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  opacity : 0.9;
  background-image: url('http://goldwallpapers.com/uploads/posts/backgrounds-for-music/backgrounds_for_music_028.jpg');
  background-size: cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-attachment: fixed;
  background-position: center center;
  z-index: -1;
}

.midd {
  color:#FFFAFA;

}
#result_h{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin: 0 0 20px;
  color: #FFFFFF;
}
#midd_h {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 75px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin: 0 0 52px;

}

#midd_p {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
  margin: 0 0 42px;
}

#midd_d{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  text-justify: inter-word;
}


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.midd_btn{
  width: 200px;
  height: 50px;
  position: absolute;
  left: 70%;
  background-color: transparent;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #FFFAFA;
  cursor:pointer;
  border:1px solid #FFFFFF;
  border-radius:4px;
}

.midd_btn:hover
{
  background-color: #FFFFFF;
  color: #A9A9A9;

}

.midd_btn1{
  width: 250px;
  height: 60px;
  position: absolute;
  left: 40%;
  background-color: transparent;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 26px;
  color: #FFFAFA;
  cursor:pointer;
  border:1px solid #FFFFFF;
  border-radius:4px;

}

.midd_btn1:hover
{
  background-color: #FFFFFF;
  color: #A9A9A9;

}

.resultFont{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
  color: #FFFFFF
}

.midd_result{
  width: 200px;
  height: 50px;
  position: absolute;
  left: 70%;
  top: 50%;
  text-align: center;
  background-color: transparent;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #FFFAFA;
  cursor:pointer;
  border:1px solid #FFFFFF;
  border-radius:4px; /*round angle*/
}

.midd_result:hover{
  background-color: #FFFFFF;
  color: #A9A9A9;
}


a {
  color: #00B7FF;
}

#chartContainer{
  width: 60px;
}
#chartContainer2{
  width: 60px;
}


#table_1{
  caption-side: top;
  width: 800px;
  height: 200px;
  margin-bottom: 50px;
}
